[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytelegrambotapi = "*"
loguru = "*"
requests = "*"
openai = "*"
replicate = "*"
googletrans = "*"
pinecone-client = "*"
tensorflow-hub = "*"
tensorflow = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
